<h1>Editing Student</h1>

<%= render 'form', student: @student %>

<%= link_to 'Show', class_room_student_path(@class_room, @student) %> |
<%= link_to 'Back', class_room_students_path(@class_room) %>
